In [1]:
import pandas as pd

In [189]:
# read in csv files 
studentVle = pd.read_csv('studentVle.csv')
vle = pd.read_csv('vle.csv')
studentInfo = pd.read_csv('studentInfo.csv')

In [214]:
# check shape, data types and missing data from studentVle
print(studentVle.shape)
print(studentVle.dtypes)
print(studentVle.isnull().sum())

(10655280, 6)
code_module          object
code_presentation    object
id_student            int64
id_site               int64
date                  int64
sum_click             int64
dtype: object
code_module          0
code_presentation    0
id_student           0
id_site              0
date                 0
sum_click            0
dtype: int64

In [216]:
# check shape, data types and missing data from vle
print(vle.shape)
print(vle.dtypes)
print(vle.isnull().sum())

(6364, 4)
id_site               int64
code_module          object
code_presentation    object
activity_type        object
dtype: object
id_site              0
code_module          0
code_presentation    0
activity_type        0
dtype: int64

In [215]:
# check shape, data types and missing data from studentInfo
print(studentInfo.shape)
print(studentInfo.dtypes)
print(studentInfo.isnull().sum())

(32593, 12)
code_module             object
code_presentation       object
id_student               int64
gender                  object
region                  object
highest_education       object
imd_band                object
age_band                object
num_of_prev_attempts     int64
studied_credits          int64
disability              object
final_result            object
dtype: object
code_module                0
code_presentation          0
id_student                 0
gender                     0
region                     0
highest_education          0
imd_band                1111
age_band                   0
num_of_prev_attempts       0
studied_credits            0
disability                 0
final_result               0
dtype: int64

In [ ]:
# imd band has missing values - can be ignored until it is needed for analysis

In [194]:
# drop columns from vle
vle.drop(['week_from', 'week_to'], axis=1, inplace=True)

In [199]:
# merge the three datasets on the combined columns
studentVle_vle_info = pd.merge(studentInfo, pd.merge(studentVle, vle, on=['id_site', 'code_module', 'code_presentation'], how='inner'), on=['id_student', 'code_module', 'code_presentation'], how='inner')

In [200]:
studentVle_vle_info.columns

Index(['code_module', 'code_presentation', 'id_student', 'gender', 'region',
       'highest_education', 'imd_band', 'age_band', 'num_of_prev_attempts',
       'studied_credits', 'disability', 'final_result', 'id_site', 'date',
       'sum_click', 'activity_type'],
      dtype='object')

In [201]:
studentVle_vle_info.shape

(10655280, 16)

In [202]:
studentVle_vle_info.head()

,code_module,code_presentation,id_student,gender,region,highest_education,imd_band,age_band,num_of_prev_attempts,studied_credits,disability,final_result,id_site,date,sum_click,activity_type
0,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,546652,-5,1,forumng
1,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,546652,-5,1,forumng
2,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,546652,0,5,forumng
3,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,546652,0,7,forumng
4,AAA,2013J,11391,M,East Anglian Region,HE Qualification,90-100%,55<=,0,240,N,Pass,546652,18,6,forumng

In [217]:
# check shape, data types and missing data from combined df
print(studentVle_vle_info.shape)
print(studentVle_vle_info.dtypes)
print(studentVle_vle_info.isnull().sum())

(10655280, 16)
code_module             object
code_presentation       object
id_student               int64
gender                  object
region                  object
highest_education       object
imd_band                object
age_band                object
num_of_prev_attempts     int64
studied_credits          int64
disability              object
final_result            object
id_site                  int64
date                     int64
sum_click                int64
activity_type           object
dtype: object
code_module                  0
code_presentation            0
id_student                   0
gender                       0
region                       0
highest_education            0
imd_band                601885
age_band                     0
num_of_prev_attempts         0
studied_credits              0
disability                   0
final_result                 0
id_site                      0
date                         0
sum_click                    0
activity_type                0
dtype: int64

In [ ]:
# check categories of categorical variables

In [209]:
studentVle_vle_info.gender.unique()

array(['M', 'F'], dtype=object)

In [210]:
studentVle_vle_info.highest_education.unique()

array(['HE Qualification', 'A Level or Equivalent', 'Lower Than A Level',
       'Post Graduate Qualification', 'No Formal quals'], dtype=object)

In [223]:
studentVle_vle_info.imd_band.unique()
# change 10-20 to match other category names
studentVle_vle_info['imd_band'] = studentVle_vle_info['imd_band'].replace('10-20', '10-20%')
#re-check imd band 
studentVle_vle_info.imd_band.unique()

array(['90-100%', '20-30%', '30-40%', '50-60%', '80-90%', '70-80%', nan,
       '60-70%', '40-50%', '10-20%', '0-10%'], dtype=object)

In [219]:
studentVle_vle_info.age_band.unique()

array(['55<=', '35-55', '0-35'], dtype=object)

In [220]:
studentVle_vle_info.disability.unique()

array(['N', 'Y'], dtype=object)

In [221]:
studentVle_vle_info.final_result.unique()

array(['Pass', 'Withdrawn', 'Fail', 'Distinction'], dtype=object)

In [222]:
studentVle_vle_info.activity_type.unique()

array(['forumng', 'homepage', 'subpage', 'oucontent', 'resource', 'url',
       'dataplus', 'glossary', 'oucollaborate', 'quiz', 'ouelluminate',
       'sharedsubpage', 'questionnaire', 'page', 'externalquiz', 'ouwiki',
       'dualpane', 'folder', 'repeatactivity', 'htmlactivity'],
      dtype=object)

In [224]:
# write the merged df to a csv
studentVle_vle_info.to_csv('studentVle_vle_info.csv', index = False)